<p>structuraldirective works!</p>


<p>fruit value: {{ fruit }}</p>
<div [ngSwitch]="fruit">
  <p *ngSwitchCase="'Apple'">You selected Apple </p>
  <p *ngSwitchCase="'Banana'">You selected Banana </p>
  <p *ngSwitchCase="'Orange'">You selected Orange </p>
  <p *ngSwitchDefault>Please select a fruit</p>
  <p *ngSwitchDefault>No known fruit selected</p>
</div>
<ul>
  <li *ngFor="let fruit of fruits>
   {{ fruit }}
  </li>
</ul>

<ul>
  <li *ngFor="let fruit of fruits; let i = index">
   {{i}}:{{ fruit }}
  </li>
</ul>

<ul>
  <li *ngFor="let fruit of fruits; let f = first">
   {{f}}:{{ fruit }}
  </li>
</ul>

<ul>
  <li *ngFor="let fruit of fruits; let l = last">
   {{l}}:{{ fruit }}
  </li>
</ul>

<ul>
  <li *ngFor="let fruit of fruits; let o = odd">
   {{o}}:{{ fruit }}
  </li>
</ul>

<ul>
  <li *ngFor="let fruit of fruits; let e = even">
   {{e}}:{{ fruit }}
  </li>
</ul>
<ul>
  <li *ngFor="let fruit of fruitsList">
    {{ fruit.name }} - {{ fruit.color }}
    <ul>
      <li *ngFor="let variety of fruit.varieties">
        Variety: {{ variety }}
      </li>
    </ul>
  </li>
</ul>
